.Field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 485px;
    height: 485px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.Field__row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    border: 3px solid rgb(8, 189, 235);
    border-radius: 20px;
    font-size: 100px;
    text-align: center;
    cursor: pointer;
}
.Field__row:hover {
    animation: grow 0.5s forwards;
    outline: none;
    border: 3px solid green;
}

.Field__row_occupied {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    font-size: 100px;
    text-align: center;
    background: rgb(111, 112, 112);
    margin-top: 3px;
    margin-left: 3px;
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
