.app {
    height: 550px;
    width: 660px;
    background-color: #8090b1;
    border: rgb(82, 63, 192) 5px solid;
    border-radius: 10px;
}
.title {
    margin: 5px 5px 5px 5px;
    border: #d9dbe0 5px solid;
    border-radius: 10px;
    height: 50px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #4cbb2a;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clculator-display {
    margin: 5px 5px 5px 5px;
    height: 200px;
    width: 640px;
    background-color: #8090b1;
    border: #d9dbe0 5px solid;
    border-radius: 10px;
    color: #2c2abb;
    display: flex;
    justify-content: end;
    align-items: end;
}
.numpad {
    margin: 5px 5px 5px 5px;
    height: 100px;
    width: 100px;
    background-color: #8090b1;
    border: #d9dbe0 5px solid;
    border-radius: 10px;
    font-size: 30px;
}
.numpad:hover {
    background-color: #34db16;
    border: #8090b1;
}
.numpad-equally {
    margin: 5px 5px 5px 5px;
    height: 100px;
    width: 210px;
    background-color: #8090b1;
    border: #d9dbe0 5px solid;
    border-radius: 10px;
    font-size: 30px;
}
.numpad-equally:hover {
    background-color: #34db16;
    border: #8090b1;
}

.numpad-delete {
    margin: 5px 5px 5px 5px;
    height: 100px;
    width: 210px;
    background-color: #8090b1;
    border: #d9dbe0 5px solid;
    border-radius: 10px;
    font-size: 30px;
}
.numpad-delete:hover {
    background-color: #db3316;
    border: #8090b1;
}
.display-paragraph {
    margin: 5px 5px 5px 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #2c2abb;
    font-size: 50px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.error {
    margin: 5px 5px 5px 5px;
    border: #d9dbe0 5px solid;
    border-radius: 10px;
    height: 50px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #bb2a2a;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
.answer {
    margin: 5px 5px 5px 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #4dd816;
    font-size: 50px;
    display: flex;
    justify-content: end;
    align-items: end;
}
