.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 500px;
    width: 500px;
    background: rgb(16, 125, 131);
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.61);
}
.game:hover {
    outline: none;
    border: none;
}

.restartButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    background: rgb(157, 215, 218);
    padding: 15px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.61);
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    justify-content: center;
    outline: none;
    width: 500px;
    height: 50px;
}
.restartButton:hover {
    animation: grow 0.5s forwards, color 0.5s forwards;
    outline: none;
}

@keyframes color {
    from {
        background: rgb(0, 0, 0);
    }
    to {
        background: rgb(51, 134, 13);
    }
}
@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

.gameWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
