.main {
    width: 700px;
    height: 700px;
    border: 10px solid blue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.keyboard {
    width: 98%;
    height: 65%;
    border: none;
    border-radius: 20px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(92, 168, 168);
    flex-direction: column;
    justify-content: space-around;
}
.display {
    width: 98%;
    height: 35%;
    border-radius: 20px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 248, 248);
    border: none;
    margin-top: 10px;
}
.numButton {
    width: 90px;
    height: 130px;
    border-radius: 20px;
    margin: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgb(29, 106, 110);
    color: rgb(213, 226, 211);
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    flex: 1 1 130px;
}
.operatorButton {
    width: 90px;
    height: 130px;
    border-radius: 20px;
    margin: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgb(34, 12, 160);
    color: rgb(213, 226, 211);
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    flex: 1 1 130px;
}
.numButton:hover {
    transform: scale(1.05);
    background-color: rgb(29, 106, 110);
}
.operatorButton:hover {
    transform: scale(1.05);
}
.equalButton {
    width: 100px;
    height: 460px;
    border-radius: 20px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(19, 63, 99);
    color: rgb(213, 226, 211);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
}
.equalButton:hover {
    transform: scale(1.05);
}
.errors {
    width: 98%;
    height: 65%;
    border-radius: 20px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 97, 92);
    color: rgb(241, 236, 236);
    font-weight: bold;
    font-size: 30px;
    shake: 10;
    animation-duration: 0.5s;
    animation-name: shakeError;
}

@keyframes shakeError {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}
.corrected {
    width: 100%;
    height: 95%;
    border-radius: 20px;
    background-color: rgb(240, 248, 248);
    color: rgb(29, 106, 110);
    font-weight: bold;
    font-size: 60px;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding-right: 20px;
    padding-bottom: 20px;
}

.answer {
    width: 100%;
    height: 95%;
    border-radius: 20px;
    background-color: rgb(240, 248, 248);
    color: rgb(13, 97, 34);
    font-weight: bold;
    font-size: 60px;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding-right: 20px;
    padding-bottom: 20px;
}
.disabledEqualButton {
    width: 100px;
    height: 460px;
    border-radius: 20px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(128, 130, 131);
    color: rgb(213, 226, 211);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border: none;
}
