.game {
  width: 650px;
  height: 600px;
  border: none;
  background: rgb(7, 155, 160);
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(3, 180px);
  grid-template-rows: repeat(3, 180px);
  box-shadow: 20px 0px 20px 0px rgba(0, 0, 0, 0.575);
  justify-content: space-around;
}
.gameButton {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background: rgb(7, 155, 160);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.575);
  margin-top: 10px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.gameButton:hover {
  background: rgb(50, 11, 223);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.575);
  animation: grow 0.5s ease-in-out infinite alternate;
}
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.fieldButton {
  width: 180px;
  height: 180px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to bottom, #c7862a 0%, #213cd6 100%);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.575);
  font-size: 100px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  justify-content: space-around;

  outline: none;
}
.fieldButton:hover {
  animation: grow 0.3s ease-in-out infinite alternate;
}
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.fieldButtonOccupied {
  width: 180px;
  height: 180px;
  border: none;
  border-radius: 30px;
  background: rgb(19, 214, 62);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.575);
  font-size: 100px;
  font-weight: bold;
  margin-top: 30px;
  outline: none;
}
